/* ================= CSS Default ================= */ 
@font-face {
    font-family: "Rajdhani-Bold";
    src: url('../fonts/Rajdhani-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Rajdhani-Light";
    src: url('../fonts/Rajdhani-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Rajdhani-Medium";
    src: url('../fonts/Rajdhani-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Rajdhani-Regular";
    src: url('../fonts/Rajdhani-Regular.ttf') format('truetype');
}

:root{
    --text      : #c8c8c8;
    --title     : #3f434c;
    --border    : #323232;
	--dark		: #000008;
	--shadow	: 0 4px 26px #256f5d;
    
	--black		: #000000;
    --green     : #01ffc3;
	--green_d	: #1f2a26;
    --white     : #ffffff;
	--yellow	: #fee54b;
	
	--gradient  : linear-gradient(to bottom, #00ffc3 0%, #0ee4ae 50%, #189075 100%);
    --gradient_2: linear-gradient(to bottom, #ffffff 0%, #dddddd 50%, #9e9e9e 100%);
	--gradient_3: linear-gradient(to left, #00ffc3 0%, rgba(255,255,255,0) 100%);
	--d_gradient: linear-gradient(to bottom, #1e1e1e 0%, #101010 100%);
	--gradient_d: linear-gradient(to bottom, #32483c 0%, #1c1c1c 100%);
	
	--font-fallback: Roboto, Arial, -apple-system, BlinkMacSystemFont,
                   "Segoe UI", "Helvetica Neue", "Noto Sans", sans-serif,
                   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
				   
	--font      : "Rajdhani-Regular", var(--font-fallback);
    --font_b    : "Rajdhani-Bold", var(--font-fallback);
	--font_m    : "Rajdhani-Medium", var(--font-fallback);
	--font_l    : "Rajdhani-Light", var(--font-fallback);
}

html{scroll-behavior:smooth;}
*{margin:0;padding:0;}
li{list-style-type:none;}
a, img{transition: all 0.3s ease;}
a:focus{outline:none;}
a, a:hover, a:active, a:link, a:visited{text-decoration:none;}
.padding0{padding:0;}
h1,h2,h3,h4,h5,h6{
    margin:0;
    font-weight:normal;
    line-height:1.25;
}

h1,h2,h3,h4{
    font-family:var(--font_b);
}

h5,h6{
    font-family:var(--font_m);
}

b, strong{
    font-family:var(--font_b);
    font-weight:normal;
}

body{
	background:var(--dark);
    font-family: var(--font);
    font-size:18px;
	color:var(--text);
	overflow-x:hidden;
}

p{
    line-height:1.85;
    margin-bottom:0;
}

.space_section{
	padding:70px 0;
}

/* ======================== CSS FULL ======================== */
/* ======================== HEADER ======================== */
.screen-darken {
    height: 100%;
    width: 0%;
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(1, 255, 195, 0.4);
    transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active {
    z-index: 4;
    transition: opacity 0.3s, width;
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.sticky {
    width: 100%;
    position: fixed !important;
    top: 0;
	z-index:8;
    background:rgba(3, 22, 36, 0.9);
}

.sticky + main {
    padding-top: 70px;
}

.offcanvas-header{
    display: none;
}
.onlyMobile, .onlyPC {
	display:block;
}

.navbar-brand img{
	width:140px;
}

.navbar-nav .nav-item{
	margin-left:30px;
}

.navbar-nav .nav-item .nav-link{
	font-size:20px;
	font-family:var(--font_b);
	padding:7px 0;
	color:var(--white);
}

.navbar-nav .nav-item:last-child .nav-link{
	background:var(--gradient);
	border-radius:7px;
	padding-left:20px;
	padding-right:20px;
	color:var(--dark);
}

.navbar-nav .active .nav-link{
	color:var(--green);
	border-bottom:3px solid var(--green);
}

/* ======================== MAIN ======================== */
#countdown {
	font-size: 25px;
	color: var(--white);
	text-align: center;
}

.text-time-count{
	font-size:25px;
}

.time-count{
	color:var(--green);
	font-size:32px;
	font-family:var(--font_b);
}

.bg-deepsea{
	background:url(../images/deepsea_2.jpg) no-repeat center top;
	background-size:100%;
}

#highlight-top{
	margin-top:-70px;
	padding:230px 0 120px;
}

#highlight-top article h1{
	font-size:60px;
	line-height:1;
	background:var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#highlight-top article h2{
	background:var(--gradient_2);
	font-family:var(--font_m);
	font-size:34px;
	margin:7px 0 15px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#highlight-top article p{
	font-size:21px;
	line-height:1.5;
}

#highlight-top h6{
	margin:20px 0;
	font-size:28px;
	color:var(--white);
}

#highlight-top h6 b{
	color:var(--yellow);
}

#highlight-top ul{
	padding-left:0;
}

.button{
	padding:13px 25px;
	border-radius:8px;
	border:1px solid transparent;
	font-family:var(--font_b);
	font-size:18px;
	margin-right:10px;
	transition:all 0.25s ease;
}

.button:hover{
	box-shadow:var(--shadow);
}

.btn-green{
	background:var(--gradient);
	color:var(--dark);	
}

.btn-green-outline{
	background:var(--green_d);
	color:var(--green);
	border:1px solid var(--green);
}

.border-gradient{
	display:block;
	width:70px;
	height:5px;
	background:var(--gradient_3);
	margin-bottom:15px;
}

.group-button button{
	width:220px;
	padding:13px 10px;
}

#launch h2{
	font-size:52px;
	line-height:1;
	background:var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#launch h6{
	margin:20px 0;
	font-size:21px;
}

#launch h6 b{
	color:yellow;
	font-size:28px;
}

#launch p{
	font-size:20px;
}

#launch p b{
	color:var(--white);
}

#launch ul{
	padding-left:0;
	margin-top:30px;
}

#launch ul li,
#highlight-top ul li{
	margin-bottom:30px;
	font-size:18px;
	color:var(--white);
	font-family:var(--font_m);
	display: flex;
	align-items: center;
}

#launch ul li img,
#highlight-top ul li img{
	width:48px;
	height:48px;
	border:1px solid var(--border);
	border-radius:6px;
	margin-right:15px;
	padding:8px;
}

#highlight-top ul{
	margin-top:30px;
	border-top:1px solid rgba(255, 255, 255, 0.2);
	padding-top:30px;
}

#highlight-top ul li{
	float:left;
	width:50%;
}

#highlight-top ul li img{
	border:1px solid var(--green);
}

#highlight-top ul li span{
	font-size:28px;
	color:var(--green);
}

#why-us{
	background:url('../images/whale.png') no-repeat right top;
	background-size:400px;
}

#why-us .title-group{
	margin-top:60px;
}

#why-us .container, #faqs .container, #roadmap .container{
	position:relative;
	z-index:2;
}

#why-us .container:after, #faqs .container:after,
#roadmap .container:after{
	background:url('../images/sound.png') no-repeat;
	position:absolute;
	top:20%;
	left:-20%;
	content:'';
	width:320px;
	height:271px;
	z-index:-1;
	opacity:0.3;
}

#roadmap .container:after{
	background:url('../images/whale-2.jpg') no-repeat;
	width:450px;
	height:348px;
	opacity:0.8;
	top:auto;
	bottom:0 !important;
}

 #faqs .container:after{
	left:auto;
	right:-15%;
	top:10%;
 }

.title-group{
	margin-bottom:35px;
}

.title-group h6{
	background:var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:24px;
	font-family:var(--font_b);
}

.title-group h6 img{
	width:42px;
}

.title-group h5{
	margin-top:10px;
	line-height:1.5;
	font-size:21px;
}

.title-group h2{
	margin-top:10px;
	font-size:64px;
	background:var(--gradient_2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height:1;
}

.item-box{
	box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.6);
	background:var(--d_gradient);
	border-radius:10px;
	border:1px solid var(--border);
	margin-bottom:20px;
	overflow:hidden;
}

.bg-shadow{
	padding:30px;
	background:	url('../images/shadow.png') no-repeat bottom right,
				url('../images/border.png') no-repeat top right;
}

.bg-border{
	background: url('../images/border.png') no-repeat top right;
}

.pd-30{
	padding:30px;
}

.item-box h5{
	margin-bottom:10px;
	font-size:23px;
	font-family:var(--font_b);
	background:var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.item-box p{
	line-height:1.7;
}

.box-img{	
	background:var(--gradient);
	border:5px solid var(--dark);
	border-radius:10px;
	padding:10px;
	width:64px;
	height:64px;
	margin-bottom:20px;
}

#tokenomic{
	background:url('../images/bg-whale.jpg') no-repeat center center;
	background-size:1100px;
}

#tokenomic h2, #community h2{
	background:var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tokenomic h2 b, #community h2 b{
	display:block;
	background:var(--gradient_2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.txt-gradient{
	background:var(--gradient) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

.bg-gradient-dark{
	background:var(--gradient_d) !important;
}

#join-us{
	text-align:center;
}

#join-us .title-group h2 span{
	display:block;
}

#team{
	padding-top:80px;
}

#team article{
	position:relative;
	margin-bottom:30px;
}

#team article img{
	max-width:100%;
	border:2px solid var(--green);
}

#team article img:hover{
	filter:brightness(120%);
}

#team article h5{
	border-top:2px solid var(--green);
	border-right:2px solid var(--green);
	width:65%;
	background:var(--dark);
	padding:15px 20px 0 0;
	position:absolute;
	bottom:0;
	left:0;
	color:var(--white);
	font-family:var(--font_b);
	font-size:24px;
}

#team article .border-gradient{
	height:3px;
}

#team article h5 small{
	display:block;
	font-size:16px;
	font-family:var(--font_m);
	color:var(--green);
}

#roadmap{
	background:url('../images/roadmap.jpg') no-repeat bottom right;
	background-size:700px;
}

#roadmap article h5{
	color:var(--white);
	font-size:24px;
	margin-bottom:10px;
	font-family:var(--font_b);
}

#roadmap article{
	position:relative;
	padding-left:20px;
	padding-right:40px;
}

#roadmap article:after{
	position:absolute;
	content:'';
	bottom:-10px;
	left:0;
	height:125px;
	border:1px dashed var(--green);
}

#roadmap article:before{
	position:absolute;
	content:'';
	bottom:-20px;
	left:-9px;
	width:20px;
	height:20px;
	border-radius:50%;
	background:var(--green);
}

#roadmap article p{
	line-height:1.5;
}

#roadmap .nth-article:first-child article{
	margin-top:40%;
}

#roadmap .nth-article:nth-child(2) article{
	margin-top:20%;
}

.accordion .accordion-button{
	background:var(--green_d);
	color:var(--white);
	font-size:20px;
	padding:15px 30px;
}

.accordion .accordion-button span{
	background:var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-right:10px;
	font-size:26px;
}

.accordion-body{
	padding:30px;
	background:var(--dark);
	color:var(--text);
}

.accordion-item{
	border-radius:10px;
	overflow:hidden;
	border:1px solid var(--border);
	margin-bottom:20px;
}

.accordion-button:not(.collapsed)::after{
	filter:brightness(100%);
}

.accordion-button:not(.collapsed){
	box-shadow:none;
}

#join-us{
	background:url('../images/background2.jpg') no-repeat center bottom;
	background-size:100%;
}

#join-us .title-group h5{
	color:var(--white);
}

.bg-gradient{
	background: linear-gradient(to top,rgba(255, 255, 255, 0) 0%, var(--dark) 100%) !important;
}

.list-community{
	display:flex;
	overflow-x: auto;
	white-space: nowrap;
	padding: 10px;
	gap: 15px; 
	cursor:grab;
	scrollbar-width: none;
}

#community .container{
	position:relative;
}

#community .container:after{
	content:'';
	position:absolute;
	bottom:0;
	right:0;
	height:350px;
	width:100px;
	z-index:1;
	background:linear-gradient(to right,rgba(255, 255, 255, 0) 0%, var(--dark) 100%);
}

.list-community::-webkit-scrollbar {
  display: none; 
}

.item-community{
	flex: 0 0 auto;
	background: var(--d_gradient);
	border:1px solid var(--border);
	padding: 20px;
	border-radius: 6px;
	max-width: 370px;
	text-align: center;
	white-space: normal;
	word-break: break-word;
}

.item-community img{
	border-radius:50%;
	padding:5px;
	border:1px solid rgba(255, 255, 255, 0.2);
}

.item-community .content-item{
	width:100%;
	text-align:left;
}

.align-content-center{
	align-content: center;
}

.item-community .content-item span{
	font-size:72px;
	color:var(--green);
	font-family:var(--font_b);
	text-align:right;
	display:block;
	margin-top:-20px;
	margin-bottom:-40px;
}

.item-community .content-item h4{
	color:var(--white);
	font-family:var(--font_b);
	font-size:20px;
	margin-bottom:5px;
}

.item-community .content-item p{
	width:100%;
	display:block;
	line-height:1.5;
	margin-bottom:0;
	font-size:16px;
}

#tokenomic .item-box p{
	line-height:1.5;
}

#tokenomic .item-box span{
	color:var(--white);
	display:block;
	font-size:24px;
	font-family:var(--font_b);
}

#tokenomic .item-box b{
	color:var(--green);
	font-size:42px;
	display:block;
}












/* ======================== FOOTER ======================== */
footer{
	background:url('../images/map.png?v=1.0') no-repeat center center;
	background-size:300px;
	padding:40px 0 30px;
}

.logo-footer img{
	width:150px;
}

.list-navigation{
	padding-left:0;
	float:right;
	margin-bottom:0;
}

.list-navigation li{
	display:inline;
	position:relative;
}

.list-navigation li:after{
	position:absolute;
	content:'/';
	bottom: -2px;
	left: 3px;
}

.list-navigation li a{
	display:inline-block;
	color:var(--white);
	font-family:var(--font_m);
	padding-left:8px;
	margin-left:8px;
}

.list-navigation li:first-child:after{
	display:none;
}

.list-navigation li a:hover{
	color:var(--green);
}

.copyright b{
	color:var(--green);
}

/* ======================== Few Option ======================== */
#clickToTop {
    transition: 0.3s;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9;
    border: none;
    outline: 0;
    cursor: pointer;
    padding: 12px 14px;
    border-radius: 50%;
	background:var(--gradient);
}

#clickToTop:after {
    position: absolute;
    top: -27px;
    left: 10px;
    content: "Top";
    color: var(--white);
    font-family: var(--font_b);
}

#clickToTop img {
    width: 24px;
    height: 20px;
    transform: rotate(-90deg);
}