/* ================= MEDIA SCREEN ================= */
/* ================= Large Devices (Desktop) ================= */
@media (min-width: 992px){
	.logo-mobile{
		display:none;
	}
	
	#launch article{
		padding-left:30px;
	}
}

@media (min-width: 768px){
	.onlyMobile{
		display:none !important;
	}
}

/* ================= Medium & Small Devices (Mobile) ================= */
@media (max-width: 991.98px) {	
	.onlyPC{
		display:none !important;
	}

	.container-fluid, .mobile-offcanvas {
        overflow-x: hidden;
    }
	
	.mobile-offcanvas {
        visibility: hidden;
        transform: translateX(-100%);
        border-radius: 0;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--white);
        height: 100%;
        z-index: 10;
        width: 70%;
        box-shadow: 5px 0 15px rgba(0, 0, 0, 0.35);
        overflow-y: scroll;
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
	
    .mobile-offcanvas.show {
        visibility: visible;
        transform: translateX(0);
    }
	
    #btn-menu {
        margin-top: 12px;
        margin-right: 7px;
        position: relative;
        z-index: 4;
        background: 0 0;
        border: none;
        transition: 0.2s;
        float: right;
        margin-left: 20px;
    }
	
    #btn-menu span {
        width: 27px;
        height: 2px;
        margin-bottom: 8px;
        background-color: var(--green);
        display: block;
    }
	
	.logo-mobile img {
        max-width: 140px;
    }
	
    .sticky {
        background: rgba(3, 22, 36, 0.9);
        border-bottom: 0;
    }
	
    .sticky #btn-menu span {
        background: var(--green);
    }
	
    #navbar_main {
        background:rgba(3, 22, 36, 1);
    }
	
	#navbar_main .container{
		padding:10px 20px;
	}
	
	#navbar_main .navbar-nav{
		border-top:1px solid rgba(255, 255, 255, 0.2);
		padding-top:15px;
		margin-top:15px;
		width:100%;
		padding-left:0;
		margin-left:0 !important;
	}
	
	#navbar_main .navbar-nav .nav-item{
		margin-left:0;
	}
	
	#navbar_main .navbar-nav .active .nav-link{
		border-bottom:0;
	}
	
	.navbar-nav .nav-item .nav-link{
		padding:12px 0;
	}
	
	#header{
		padding:10px 20px;
	}	
	
	.navbar-nav .nav-item:last-child .nav-link{
		text-align:center;
	}
	
	.group-button button{
		margin-bottom:15px;
		width:100%;
	}
}

@media (max-width: 767.98px) {
	#community .container::after{
		height:540px;
	}
	
	#countdown{
		font-size:18px;
	}
	
	.text-time-count{
		display:block;
	}
	
	#launch h2{
		font-size:35px;
	}
	
	.space_section{
		padding:40px 0;
	}
	
	#highlight-top ul li{
		float:none;
		width:100%;
	}
	
	#highlight-top article h2{
		font-size:25px;
	}
	
	.item-community{
		max-width:270px;
	}
	
	.bg-deepsea{
		background-position: right top;
		background-size: 180%;
	}
	
	#highlight-top{
		padding-top:240px;
		padding-bottom:0;
	}
	
	#highlight-top article h1{
		font-size:32px;
		margin-top:20px !important;
	}

	#highlight-top article h1 span{
		font-size:53px;
	}

	.item-box p{
		font-size:20px;
		line-height:1.6;
	}

	#team{
		padding-top:40px;
	}

	#tokenomic{
		background-position:top left;
	}

	#roadmap{
		background-position:bottom left;
	}

	.bg-deepsea::after{
		left: 65%;
  		top: 15%;
	}

	.border-gradient{
		margin-bottom:10px !important;
	}
	
	#why-us{
		background-size:270px;
	}
	
	#join-us{
		background-size:cover;
	}
	
	.button{
		font-size:20px;
	}
	
	#solution h2{
		font-size:42px;
	}
	
	#solution ul li{
		width:100%;
		float:none;
	}
	
	.container{
		padding-left:20px;
		padding-right:20px;
	}
	
	.title-group h2{
		font-size:36px;
	}
	
	#team article h5{
		position:relative;
		font-size:18px;
		margin:0;
		padding:12px 10px;
	}
	
	#team article .border-gradient{
		display:none;
	}
	
	#team article h5 small{
		font-size:14px;
	}

	#tokenomic h2{
		font-size:52px;
	}
	
	#roadmap .mt-5{
		margin-top:0 !important;
	}
	
	#roadmap .title-group{
		margin-bottom:10px;
		text-align:center;
	}
	
	#roadmap article::after{
		height:150px;
		display:none;		
	}
	
	#roadmap article{
		margin:40px 0 !important;
		border-left:2px dashed var(--green);
	}
	
	#roadmap article::before{
		left:-11px;
	}
	
	#faqs .title-group h5{
		font-size:17px;
	}
	
	#faqs .title-group h5 br, .list-navigation{
		display:none;
	}

	#only-whale{
		width: 250px;
    	z-index: 0;
	}
	
	.accordion .accordion-button span, .accordion .accordion-button{
		display:block;
	}
	
	footer{
		text-align:center;
	}
	
	#why-us .title-group{
		margin-top:0;
	}
}